.img-cat {
    width: 300px;
    height: 200px;


}



.img-plat {
    width: 300px;
    height: 150px;
    z-index: auto;
}

.entete {
    width: 100%;
    height: 237px;
    left: 0px;
    top: 143px;
    object-fit: cover;
}

.rs{
    width: 50px;
}

#footer {
    position: relative;
    bottom: 20px;
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    background-color: bisque
}

.img-cat:hover {
    transform: scale(1.2);
}