.nav-item:hover {
    background-color: #d2b4de;
    /* Couleur de fond au survol des onglets */
}

.dropdown-item:hover {
    background-color: #008080;
    /* Couleur de fond au survol */
}

.content {
    background-image: url("/Laurent/FRONT/STATIQUE/HTML/Img/image\ fond\ restaurant.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    opacity: 0.7;
}

.parallax-container {
    position: relative;
    height: 25vh;
    /* ou une hauteur personnalisée */
    overflow: hidden;
}

.parallax-container video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

h1 {
    color: #FF00FF;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-decoration: underline
}

p {
    font-size: 30px;
}

.img-cat {
    width: 300px;
    height: 200px;


}

.img-plat {
    width: 300px;
    height: 150px;
    z-index: auto;
}

.entete {
    width: 100%;
    height: 237px;
    left: 0px;
    top: 143px;
    object-fit: cover;
}

.rs {
    width: 50px;
}

#footer {
    position: relative;
    bottom: 20px;
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    background-color: bisque
}

.img-cat:hover {
    transform: scale(1.2);
}

.input-group {
    width: 200px;
}

.cadre {
    border: 2px solid black;
    width: 720px;
}

.btn-send {
    float: right;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 20px;
}

.card-text {
    color: #888;
}

.form-control {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-block {
    width: 100%;
}

.prix {
    border: 1px solid black;
    width: 100px;
    text-align: center;
    color: white;
    background-color: red;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blinking-title {
    animation: blink 1s infinite;
}

.error {
    color: red;
    font-size: 20px;
}

.error-message {
    color: red;
}

.carousel-item {
    width: 50%;
    height: 20%;
    padding: 5px;
    padding-bottom: 50px;
}

#pa {
    color: white;
}

.para {
    color: white;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    max-height: 800px;
    /* Hauteur maximale souhaitée pour les images */
    object-fit: cover;
    /* Ajuster l'image pour remplir le conteneur */
}

.carousel-control-prev,
.carousel-control-next {
    opacity: 1;
    visibility: visible;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: block;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 0.6;
}

.carousel-item img {
    width: 100%;
    height: 800px;
    max-width: auto;
    /* Largeur maximale souhaitée pour les images */
    max-height: 900px;
    /* Hauteur maximale souhaitée pour les images */
    object-fit: cover;
    /* Ajuster l'image pour remplir le conteneur */
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel-item {
    position: relative;
}

.carousel-item .image-title {
    position: absolute;
    bottom: 70px;
    /* Ajustez la valeur selon votre besoin */
    left: 20%;
    /* Déplace le titre à 50% de la largeur de l'image */
    transform: translateX(-50%);
    /* Centre horizontalement le titre */
    padding: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.carousel-inner {
    max-width: auto;
    /*Ajuster la largeur du carousel selon vos besoins */
    width: 100%;
}

/* Adjust the styles as needed for your specific design */

#lien_titre {
    font-size: 40px;
    color: fuchsia;
}

.error-message {
    color: red;
}

.bi {
    color: #970747;
}

.square-image {
    width: 300px;
    height: 300px;
    padding-bottom: 30px;
    /* Crée un ratio de 1:1 pour l'image carrée */
    object-fit: cover;
}

.zoom-effect {
    transition: transform 0.3s ease;
}

.zoom-effect:hover {
    transform: scale(1.2);
}

.cart-icon {
    color: white;
}

#footer2 {
    position: relative;
    top: 100px;
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    background-color: bisque
}

/* Animation du titre "Nous contacter" dans le formulaire*/
.scrolling-title {
    white-space: nowrap;
    /* Empêche le retour à la ligne */
    overflow: hidden;
    /* Masque le contenu qui dépasse */
    width: 100%;
    /* Ajuste la largeur du conteneur */
    animation: scrolling-text 7s linear infinite;
    /* Applique l'animation */
    color: indigo;
    font-size: 40px;
}

@keyframes scrolling-text {
    0% {
        transform: translateX(-100%);
        /* Décale le titre complètement vers la gauche */
    }

    100% {
        transform: translateX(100%);
        /* Décale le titre complètement vers la droite*/
    }

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.form-control.error {
    border-color: red;
  }

